*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("fondo1.jpg");
    
    background-size: cover;

    
    }

    .fondo{
        
        background-image: url("fondo.jpg");
            
        background-size: cover;
        
        }
    

    .fondomat{
        
    background-image: url("fondomat.jpg");
        
    background-size: cover;
    
    }

    .fondoing{
        
        background-image: url("fondoss.jpg");
            
        background-size: cover;
        
        }
    
    .fondorel{
    
    background-image: url("fondorel.jpg");
                
    background-size: cover;
            
    }
    
    .fondosoc{
    
        background-image: url("fondosoc.jpg");
                    
        background-size: cover;
                
        }
    
    .fondobio{
        
    background-image: url("fondobio.jpg");
            
    background-size: cover;
            
    }

    .fondotec{
        
    background-image: url("fondotec.jpg");
                
    background-size: cover;
                
    }

    .img{
    
    position: relative;
    
    width: 80px;
    
    height: 190px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
    left: 189px;
    
    background-image: url("fondo1.jpg");
    
    }
    
    .contenedor{
    
     
    height: 230px;
    
     
    
    }
    
    .contenidos{

    height: 280px;
        
    width: 99%;
        
    position: absolute;
        
    top: 410px;
        
         
    }

    .monomio{

 
        position: absolute;
        background-repeat: no-repeat;
        background-size: 50%;
        text-align: justify;
        top: 116%;
        float: left;
        height: 430px;
        width: 470px;
        margin-left: 85px;
        margin-right:5px;
        background-image: url("monomio.png");
        
    }

    .binomio{

 
        position: absolute;
        background-repeat: no-repeat;
        background-size: 50%;
        text-align: justify;
        top: 211%;
        float: left;
        height: 430px;
        width: 470px;
        margin-left: 85px;
        margin-right:5px;
        background-image: url("Binomio.png");
        
    }

    .polinomio{

 
        position: absolute;
        background-repeat: no-repeat;
        background-size: 97%;
        text-align: justify;
        top: 316%;
        float: left;
        height: 430px;
        width: 470px;
        margin-left: 32px;
        margin-right:5px;
        background-image: url("polinomio.png");
        
    }

    .vmonomio{

 
        position: absolute;
        text-align: justify;
        top: 108%;
        float: left;
        left: 39%;
    }

    .vbinomio{

 
        position: absolute;
        text-align: justify;
        top: 203%;
        float: left;
        left: 39%;
    }

    .vpolinomio{

 
        position: absolute;
        text-align: justify;
        top: 303%;
        float: left;
        left: 39%;
    }

    .texto{
    position: relative;
    top: 80px;
    font-size: 40px;
    left: 10px;
    text-align: justify;
    
    color: rgb(0, 0, 0);
    
     
    
    }
    
    .materia{
    
    
    
    font-size: 62px;
    font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    }

   
    .contenido{
        position: absolute;
        height: 280px;
        width: 85%;
        top: 425px;
        font-size: 20px;
        left: 20px;
        text-align: justify;
        text-align-last: left;
        color: black;
        font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;
      
    
    }

    .contenidorel{
        position: absolute;
        height: 280px;
        width: 85%;
        top: 800px;
        font-size: 20px;
        left: 20px;
        text-align: justify;
        text-align-last: left;
        color: black;
        font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;
      
    
        }

    .titulo{
    position: absolute;
    height: 280px;
    top: 50%;
    text-align: justify;
    left: 595px;
    font-size: 38px;
    font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);

    }

    .tituloing{
    position: absolute;
    height: 280px;       
    top: 50%;
    text-align: justify;
    left: 530px;
    font-size: 38px;
    font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    
    }

    .titulosc{
        position: absolute;
        height: 280px;
        top: 50%;
        text-align: justify;
        left: 528px;
        font-size: 38px;
        font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(0, 0, 0);
        
    }

    .titulotec{

        position: absolute;
        height: 280px;       
        top: 50%;
        text-align: justify;
        left: 505px;
        font-size: 38px;
        font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(0, 0, 0);
    
    }

    .noticia{
    position: absolute;
    height: 280px;
    width: 99%;
    top: 50%;
    text-align: center;
    left: 2px;
    font-size: 38px;
    font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);

}

.mental{

    position: absolute;
    height: 280px;
    width: 99%;
    top: 68%;
    left: 13px;

}

.colonias{
    position: absolute;
    height: 280px;
    width: 99%;
    top: 185%;
    left: 19px;

}

.gifing{

 
    position: absolute;
    background-repeat: no-repeat;
    background-size: 70%;
    text-align: justify;
    top: 80%;
    left: 700px;
    height: 430px;
    width: 470px;
    margin-left: 85px;
    margin-right:5px;
    background-image: url("ingles.gif");
    
}

.gifing2{

 
    position: absolute;
    background-repeat: no-repeat;
    background-size: 50%;
    text-align: justify;
    top: 326%;
    left: 644px;
    height: 239px;
    width: 470px;
    margin-left: 85px;
    margin-right:5px;
    background-image: url("ing2.gif");
    
}

.hin{

 
    position: absolute;
    background-repeat: no-repeat;
    background-size: 75%;
    text-align: justify;
    top: 70%;
    float: left;
    left: 528px;
    height: 239px;
    width: 470px;
    background-image: url("hin.jpg");
    
}

.hindu{

 
    position: absolute;
    background-repeat: no-repeat;
    background-size: 37%;
    text-align: justify;
    top: 70%;
    float: left;
    left: 299px;
    height: 484px;
    width: 470px;
    background-image: url("hindu.jpg");
    
}

.hindui{

 
    position: absolute;
    background-repeat: no-repeat;
    background-size: 37%;
    text-align: justify;
    top: 70%;
    float: left;
    left: 939px;
    height: 484px;
    width: 363px;
    background-image: url("hindui.jpg");
    
}

.vbio{
    position: absolute;
    text-align: justify;
    top: 85%;
    float: left;
    left: 29%;

}

.thaiti{

    position: absolute;
    height: 280px;       
    top: 250%;
    text-align: justify;
    left: 530px;
    font-size: 38px;
    font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);

}

.haiti{

    position: absolute;
    height: 280px;
    width: 85%;
    top: 270%;
    font-size: 20px;
    left: 20px;
    text-align: justify;
    text-align-last: left;
    color: black;
    font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;

}

.podcast{

    position: absolute;
    height: 280px;
    top: 287%;
    left: 560px;


}

.tmexico{

    position: absolute;
    height: 280px;       
    top: 315%;
    text-align: justify;
    left: 490px;
    font-size: 38px;
    font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);

}

.mexico{

    position: absolute;
    height: 280px;
    width: 85%;
    top: 335%;
    font-size: 20px;
    left: 20px;
    text-align: justify;
    text-align-last: left;
    color: black;
    font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;

}

.operador{
    position: absolute;
        background-repeat: no-repeat;
        background-size: 63%;
        text-align: justify;
        top: 85%;
        left: 455px;
        height: 236px;
        width: 470px;
        margin-left: 85px;
        margin-right:5px;
        background-image: url("operador.png");
        
}

.electronica{

    position: absolute;
    height: 280px;
    width: 85%;
    top: 1217px;
    font-size: 20px;
    left: 20px;
    text-align: justify;
    text-align-last: left;
    color: black;
    font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;

}

.titulo2{

    position: absolute;
    height: 280px;       
    top: 165%;
    text-align: justify;
    left: 530px;
    font-size: 38px;
    font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);

}

.giftec{

    position: absolute;
    background-repeat: no-repeat;
    background-size: 70%;
    text-align: justify;
    top: 266%;
    left: 453px;
    height: 430px;
    width: 470px;
    margin-left: 85px;
    margin-right:5px;
    background-image: url("giftecno.gif");

}

.titulo3{

    position: absolute;
    height: 280px;       
    top: 324%;
    text-align: justify;
    left: 530px;
    font-size: 38px;
    font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);

}

.circuito{

    position: absolute;
    background-repeat: no-repeat;
    background-size: 80%;
    text-align: justify;
    top: 437%;
    left: 453px;
    height: 430px;
    width: 470px;
    margin-left: 85px;
    margin-right:5px;
    background-image: url("circuito.gif");

}

.titulo4{

    position: absolute;
    height: 280px;       
    top: 510%;
    text-align: justify;
    left: 447px;
    font-size: 38px;
    font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);

}

.estructura{

    position: absolute;
    height: 280px;
    width: 85%;
    top: 528%;
    font-size: 20px;
    left: 20px;
    text-align: justify;
    text-align-last: left;
    color: black;
    font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;


}

.secuencial{
    position: absolute;
    text-align: justify;
    top: 548%;
    float: left;
    left: 31%;

}

.titulo5{

    position: absolute;
    height: 280px;       
    top: 620%;
    text-align: justify;
    left: 447px;
    font-size: 38px;
    font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);

}

.repetitivas{
    position: absolute;
    text-align: justify;
    top: 658%;
    float: left;
    left: 31%;

}

.audiotec{

    position: absolute;
    height: 200px;
    top: 720%;
    left: 560px;

}

.enfermedades{

    position: absolute;
    top: 378%;
    left: 560px;
    

}

.vmexico{

    position: absolute;
    text-align: justify;
    top: 355%;
    float: left;
    left: 31%;

}

.titulom{

    position: absolute;
    height: 280px;
    top: 50%;
    text-align: justify;
    left: 495px;
    font-size: 38px;
    font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

.subt{
    position: absolute;
    height: 280px;
    top: 425px;
    text-align: justify;
    left: 20px;
    font-size: 25px;
    font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);    
}

.contenidom{
    position: absolute;
    height: 280px;
    width: 85%;
    top: 490px;
    font-size: 20px;
    left: 20px;
    text-align: justify;
    text-align-last: left;
    color: black;
    font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;
  
}