*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("fondo1.jpg");
    
    
    
    }
    
    .fondotec{
    
    background-image: url("tecno.jpg");
        
   
        
    }
    
    
    .img{
    
    position: relative;
    
     
    
    width: 89px;
    
    height: 190px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 189px;
    
    background-image: url("fondo1.jpg");
    
    }
    
    .contenedor{
    
     
    height: 230px;
    
     
    
    }
    
    .contenido{

    height: 280px;
        
    width: 100%;
        
    position: absolute;
        
    top: 410px;
        
         
        
        }

    .texto{
    position: relative;
    top: 80px;
    font-size: 40px;
    left: 10px;
    text-align: justify;
    
    color: rgb(0, 0, 0);
    
     
    
    }
    .preguntas{
    position: absolute;
    height: 280px;
    width: 100%;
    top: 425px;
    font-size: 18px;
    left: 10px;
    text-align: justify;
    text-align-last: left;
    color: black;
    font-family: 'Arial', 'Arial', Calibri, 'Trebuchet MS', sans-serif;

   }
    
    .materia{
    font-size: 62px;
    font-family: 'Cambria', 'Cambria', Calibri, 'Trebuchet MS', sans-serif;
    }

    .algebra{
    position: absolute;
    height: 280px;
    width: 100%;
    top: 425px;
    font-size: 18px;
    left: 10px;
    text-align: justify;
    text-align-last: left;
    color: black;
    font-family: 'Arial', 'Arial', Calibri, 'Trebuchet MS', sans-serif;

    }

    .titulo{
    position: absolute;
    height: 280px;
    width: 100%;
    top: 50%;
    text-align: justify;
    left: 550px;
    font-size: 38px;
    font-family: 'Arial', 'Arial', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
        
    }

    .monomio{

        background-repeat: no-repeat;

        float:left;
        
        height: 200px;
        
        width: 260px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("monomio.png");

    }

    .tec{

        background-repeat: no-repeat;
        float:left;
        height: 200px;
        width: 260px;
        margin-left: 5px;
        margin-right:5px;
        background-image: url("tec.jpg");

    }

    .texto{

        position: absolute;
        height: 280px;
        width: 100%;
        top: 425px;
        font-size: 18px;
        left: 10px;
        text-align: justify;
        text-align-last: left;
        color: rgb(255, 255, 255);

    }    

   